[submodule "InnerMusic-Backend"]
	path = innermusic-backend
	url = https://github.com/thomaskummer1/InnerMusic-Backend
[submodule "InnerMusic"]
	path = innermusic
	url = https://github.com/thomaskummer1/InnerMusic
